body {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    height: 100vh;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
}

.borderless {
    width: 1em;
    border: 0px;
}

.button {
    color: white;
    background-color: #000000;
}

.button:hover {
    color: yellow;
}

img:hover{
    cursor: pointer;
}